In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('WHO-COVID-19-global-data.csv')
print(data)

       Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
166132    2021-11-29           ZW     Zimbabwe       AFRO         40
166133    2021-11-30           ZW     Zimbabwe       AFRO        235
166134    2021-12-01           ZW     Zimbabwe       AFRO        426
166135    2021-12-02           ZW     Zimbabwe       AFRO        685
166136    2021-12-03           ZW     Zimbabwe       AFRO       1042

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
166132            133991           0               4705
166133            134226           1               4706
166134            134652           1               4707
166135            135337           0               4707
166136            136379           0               4707

[166137 rows x 8 columns]

In [7]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166137 entries, 0 to 166136
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      166137 non-null  object
 1   Country_code       165436 non-null  object
 2   Country            166137 non-null  object
 3   WHO_region         166137 non-null  object
 4   New_cases          166137 non-null  int64
 5   Cumulative_cases   166137 non-null  int64
 6   New_deaths         166137 non-null  int64
 7   Cumulative_deaths  166137 non-null  int64
dtypes: int64(4), object(4)
memory usage: 10.1+ MB
None
           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  166137.000000      1.661370e+05  166137.000000      166137.000000
mean     1586.423386      4.013239e+05      31.495465        9012.007650
std      9402.286406      2.273815e+06     166.962618       44105.235189
min    -32952.000000      0.000000e+00   -2371.000000           0.000000
25%         0.000000      6.900000e+01       0.000000           0.000000
50%        16.000000      5.906000e+03       0.000000          91.000000
75%       402.000000      1.024990e+05       6.000000        1761.000000
max    414188.000000      4.841326e+07    8786.000000      778336.000000

In [8]:
print(data.shape)

(166137, 8)

In [21]:
df = data[data.Cumulative_deaths != 0]

In [22]:
print(df)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
80,2020-03-23,AF,Afghanistan,EMRO,6,40,1,1
81,2020-03-24,AF,Afghanistan,EMRO,2,42,0,1
82,2020-03-25,AF,Afghanistan,EMRO,32,74,0,1
83,2020-03-26,AF,Afghanistan,EMRO,6,80,1,2
84,2020-03-27,AF,Afghanistan,EMRO,11,91,0,2
...,...,...,...,...,...,...,...,...
166132,2021-11-29,ZW,Zimbabwe,AFRO,40,133991,0,4705
166133,2021-11-30,ZW,Zimbabwe,AFRO,235,134226,1,4706
166134,2021-12-01,ZW,Zimbabwe,AFRO,426,134652,1,4707
166135,2021-12-02,ZW,Zimbabwe,AFRO,685,135337,0,4707
166136,2021-12-03,ZW,Zimbabwe,AFRO,1042,136379,0,4707

In [26]:
death_mean = df['Cumulative_deaths'].mean()
print(death_mean)

12062.64785974976